<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSV Plotter</title>
</head>
<body>
    <h1>Upload CSV File</h1>
    <form action="/" method="post" enctype="multipart/form-data">
        <input type="file" name="csv_file" accept=".csv" required>
        <input type="submit" value="Upload and Plot">
    </form>
    
    {% if plot1 %}
        <h2>Toate Valorile</h2>
        <iframe src="{{ plot1 }}" width="100%" height="600px"></iframe>
    {% endif %}
    
    {% if plot2 %}
        <h2>Primele X Valori</h2>
        <iframe src="{{ plot2 }}" width="100%" height="600px"></iframe>
    {% endif %}
    
    {% if plot3 %}
        <h2>Ultimele Y Valori</h2>
        <iframe src="{{ plot3 }}" width="100%" height="600px"></iframe>
    {% endif %}
</body>
</html>
